<html xmlns:th="https://www.thymeleaf.org/">

  <div th:replace="fragment/commonui :: header"></div>

    <body>
    
      <div th:replace="fragment/commonui :: menu"></div>
    
        <div class="container">
            <div class="card">
                <div class="card-header bg-info text-center text-white">
                    <h3>Doctor Edit</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/doctor/update}" method="POST" id="myDocFormRegId" th:object="${doctor}">
                        <div class="row"> 
                            <div class="col-2">
                                <label for="id">ID</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="id" th:field="*{id}" class="form-control" readOnly/>
                            </div>
                            <div class="col-6">
                                <span id="idError"></span>
                            </div>
                        </div>
                         <!-- row 0 end -->
                        <div class="row"> 
                            <div class="col-2">
                                <label for="fn">First Name</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="firstName" th:field="*{firstName}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="firstNameError"></span>
                            </div>
                        </div>
                        <!-- row 1 end -->
                        <div class="row">
                            <div class="col-2">
                                <label for="ln">Last Name</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="lastName" th:field="*{lastName}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="lastNameError"></span>
                            </div>
                        </div>
                        <!-- row 2 end -->
                        <div class="row">
                            <div class="col-2">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="email" th:field="*{email}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="emailError"></span>
                            </div>
                        </div>
                        <!-- row 3 end -->
                        <div class="row">
                            <div class="col-2">
                                <label for="address">Address</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="address" th:field="*{address}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="addressError"></span>
                            </div>
                        </div>
                        <!-- row 4 end -->
                        <div class="row">
                            <div class="col-2">
                                <label for="mobile">Mobile No</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="mobile" th:field="*{mobile}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="mobileError"></span>
                            </div>
                        </div>
                        <!-- row 5 end -->
                        <div class="row">
                            <div class="col-2">
                                <label>Gender</label>
                            </div>
                            <div class="col-4">
                                <input type="radio" name="gender" th:field="*{gender}" value="Male"/>Male
                                <input type="radio" name="gender" th:field="*{gender}" value="Female"/>Female
                            </div>
                            <div class="col-6">
                                <span id="genderError"></span>
                            </div>
                        </div>
             <!-- row 6 end -->
                        <div class="row">
                            <div class="col-2">
                                <label>SPECIALIZATION</label>
                            </div>
                            <div class="col-4">
								<select th:field="*{specialization}" name="specialization.id" >
									<option value="">--SELECT--</option>
									<option th:each="ob:${specialization}" th:value="${ob.key}" th:text="${ob.value}"></option>
								</select>
                            </div>
                            <div class="col-6">
                                <span id="specializationError"></span>
                            </div>
                        </div>
     <!-- dynamic row end -->
                        <div class="row">
                            <div class="col-2">
                                <label for="note">Note</label>
                            </div>
                            <div class="col-4">
                                <input type="text" name="note" th:field="*{note}" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <span id="noteError"></span>
                            </div>
                        </div>
                        <!-- row 7 end -->
                        <button type="submit" class="btn btn-success">Update <i class="fa fa-wrench" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div class="card-footer">
                   
                </div>
            </div>
        </div>
    </body>
</html>