<html xmlns:th="https://www.thymeleaf.org/">
	  
	<div th:replace="fragment/commonui::header"></div>
	<body>
	<div th:replace="fragment/common_user_ui::menu"></div>
		<div class="container">
			<div class="card">
				<div class="card-header"> 
					<h3>New Password Generator</h3>
				</div>
				<div class="card-body">
				 	<form th:action="@{/user/genPwd}" method="post">
				 		<div class="row">
				 			<div class="col-4">
				 				<label for="userName">Enter Email</label>
				 			</div>
				 			<div class="clol-4">
				 				 <input type="text" name="userName" id="userName" class="form-controller" required> 
				 			</div>
				 			<div class="col-4">
				 				<span id="userNameError"></span> 
				 			</div>
				 		</div>
				 		<button type="submit" class="btn btn-success">Generate</button>
				 	</form>
				</div>
				<div class="card-footer">
					<span>[[${message}]]</span>
				</div>
			</div>
		</div>
	</body>
</html>