<html xmlns:th="https://www.thymeleaf.org/">

  <div th:replace="fragment/commonui :: header"></div>

    <body>
    
     <div th:replace="fragment/commonui :: menu"></div>
    
        <div class="container">
            <div class="card">
                <div class="card-header text-center bg-info">
                    <h3>Patient Data</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr class="bg-info">
                            <th>NAME</th>
                            <th>DOB</th>
                            <th>GENDER</th>
                            <th>E-MAIL</th>
                            <th>PAST MEDICAL HISTORY</th>
                            <th>OPERATION</th>
                        </tr>
                        <tr th:each="ob:${list}">
                            <td>[[${ob.firstName+' '+ob.lastName}]]</td>
                            <td th:text="${ob.dateOfBirth}"></td>
                            <td th:text="${ob.gender}"></td>
                            <td th:text="${ob.email}"></td>
                            <td>[[${ob.pastMedHistory+'-'+ob.ifOtherMedHistory}]]</td>
                            <td>
                                <a th:href="@{/patient/edit(id=${ob.id})}" class="btn btn-warning">EDIT <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                                <a th:href="@{/patient/delete(id=${ob.id})}" class="btn btn-danger">DELETE <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer bg-info">

                </div>
            </div>
        </div>
    </body>
</html>