<html xmlns:th="https://www.thymeleaf.org/">
 
 <div th:replace="fragment/commonui :: header"></div>
 
    <body>
        <!-- container start-->
        <div class="container">
            <!-- card start-->
             <div class="card">
                
                <!--card header start-->
                    <div class="card-header bg-info text-center text-white">
                        <h3>Patient Edit</h3>
                    </div>
                <!--card header end-->

                <!--card body start-->
                    <div class="card-body">
                        <!--form start-->
                        <form th:action="@{/patient/update}" method="POST" th:object="${patient}">
                           
                            <!--row 0 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="id">ID</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:field="*{id}" id="id" class="form-control" readonly="readonly">
                                </div>
                                <div class="col-4">
                                    <span id="idError"></span>
                                </div>
                            </div>
                            <!--row 0 end-->

                            <!--row 1 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="firstName">First Name</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="firstNameError"></span>
                                </div>
                            </div>
                            <!--row 1 end-->
                            
                            <!--row 2 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="lasttName">Last Name</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="lastNameError"></span>
                                </div>
                            </div>

                            <!--row 2 end-->
                            <!--row 3 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label>Gender</label>
                                </div>
                                <div class="col-6">
                                    <input type="radio" th:field="*{gender}" id="gender1" value="Male"/>Male
                                    <input type="radio" th:field="*{gender}" id="gender2" value="Female"/>Female 
                                </div>
                                <div class="col-4">
                                    <span id="genderError"></span>
                                </div>
                            </div>

                            <!--row 3 end-->

                           <!--row 4 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="email">EMAIL</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:field="*{email}" id="email" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="emailError"></span>
                                </div>
                            </div>

                            <!--row 4 end-->


                            <!--row 4 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="phoneNum">Mobile</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:field="*{phoneNum}" id="phoneNum" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="phoneNumError"></span>
                                </div>
                            </div>

                            <!--row 4 end-->
                            <!--row 5 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="dateOfBirth">Date of Birth</label>
                                </div>
                                <div class="col-6">
                                    <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="dateOfBirthError"></span>
                                </div>
                            </div>

                            <!--row 5 end-->
                            <!--row 6 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label>Marital Status</label>
                                </div>
                                <div class="col-6">
                                    <input type="radio" th:field="*{maritalStatus}" id="maritalStatus1" value="Married"/>Married
                                    <input type="radio" th:field="*{maritalStatus}" id="maritalStatus2" value="Unmarried"/>Unmarried
                                    <input type="radio" th:field="*{maritalStatus}" id="maritalStatus3" value="Divorced"/>Divorced
                                    <input type="radio" th:field="*{maritalStatus}" id="maritalStatus4" value="Legally Separated"/>Legally Separated 
                                </div>
                                <div class="col-4">
                                    <span id="maritalStatusError"></span>
                                </div>
                            </div>

                            <!--row 6 end-->
                            <!--row 7 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="presentAddress">Present Address</label>
                                </div>
                                <div class="col-6">
                                    <textarea th:field="*{presentAddress}" id="presentAddress" class="form-control"></textarea>
                                </div>
                                <div class="col-4">
                                    <span id="presentAddressError"></span>
                                </div>
                            </div>

                            <!--row 7 end-->
                            <!--row 8 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="communicationAddress">Communication Address</label>
                                </div>
                                <div class="col-6">
                                    <textarea th:field="*{communicationAddress}" id="communicationAddress" class="form-control"></textarea>
                                </div>
                                <div class="col-4">
                                    <span id="communicationAddressError"></span>
                                </div>
                            </div>


                            <!--row 8 end-->
                            <!--row 9 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="pastMedHistory">Past Medical History</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory1" value="Anemia"/> Anemia
                                    <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory2" value="Asthama"/> Asthama
                                    <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory3" value="Ulcer"/> Ulcer
                                    <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory4" value="Diabetes"/> Diabetes
                                    <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory5" value="Cancer"/> Cancer
                                    <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory6" value="Chickenpox"/> Chickenpox                                
                                </div>
                                <div class="col-4">
                                    <span id="pastMedHistoryError"></span>
                                </div>
                            </div>
                            <!--row 9 end-->
                            <!--row 10 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="ifOtherMedHistory">Other Medical History
                                        <input type="checkbox" th:field="*{pastMedHistory}" id="pastMedHistory7" value="otherMedhsty"/>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <input type="text" th:field="*{ifOtherMedHistory}" id="ifOtherMedHistory" class="form-control"/>
                                </div>
                                <div class="col-4">
                                    <span id="ifOtherMedHistoryError"></span>
                                </div>
                            </div>
                            <!--row 10 end-->
                            
                            <!--row 11 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="otherDtls">Other Details</label>
                                </div>
                                <div class="col-6">
                                    <textarea th:field="*{otherDtls}" id="otherDtls" class="form-control"></textarea>
                                </div>
                                <div class="col-4">
                                    <span id="otherDtlsError"></span>
                                </div>
                            </div>
                            <!--row 11 end-->
                          <button type="submit" class="btn btn-success">Update <i class="fa fa-wrench" aria-hidden="true"></i></button>  
                        </form>
                        <!--form end-->
                    </div>
                <!--card body end-->
                
                <!--card footer start-->
                    <div class="card-footer bg-info text-center text-white">
                        <span>[[message]]</span>
                    </div>
                <!--card footer end-->

             </div>
            <!-- card end-->
        </div>
        <!-- container end-->
    </body>
</html>