<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragment/commonui :: header"></div>
    <body>
    <div th:replace="fragment/common_user_ui :: menu"></div>
        <!-- container start-->
        <div class="container">
            <!-- card start-->
             <div class="card">
                
                <!--card header start-->
                    <div class="card-header bg-info text-center text-white">
                        <h3>Patient Register</h3>
                    </div>
                <!--card header end-->

                <!--card body start-->
                    <div class="card-body">
                        <!--form start-->
                        <form th:action="@{/patient/save}" method="POST">
                            <!--row 1 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="firstName">First Name</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="firstName" id="firstName" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="firstNameError"></span>
                                </div>
                            </div>
                            <!--row 1 end-->
                            
                            <!--row 2 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="lasttName">Last Name</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="lastName" id="lastName" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="lastNameError"></span>
                                </div>
                            </div>

                            <!--row 2 end-->
                            <!--row 3 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label>Gender</label>
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="gender" id="gender1" value="Male"/>Male
                                    <input type="radio" name="gender" id="gender2" value="Female"/>Female
                                </div>
                                <div class="col-4">
                                    <span id="genderError"></span>
                                </div>
                            </div>

                            <!--row 3 end-->
                           <!--row email start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="email">Email</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="emailError"></span>
                                </div>
                            </div>

                            <!--row email end-->
                            
                            <!--row 4 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="phoneNum">Mobile</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="phoneNum" id="phoneNum" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="phoneNumError"></span>
                                </div>
                            </div>

                            <!--row 4 end-->
                            <!--row 5 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="dateOfBirth">Date of Birth</label>
                                </div>
                                <div class="col-6">
                                    <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control">
                                </div>
                                <div class="col-4">
                                    <span id="dateOfBirthError"></span>
                                </div>
                            </div>

                            <!--row 5 end-->
                            <!--row 6 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label>Marital Status</label>
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="maritalStatus" id="maritalStatus1" value="Married"/>Married
                                    <input type="radio" name="maritalStatus" id="maritalStatus2" value="Unmarried"/>Unmarried
                                    <input type="radio" name="maritalStatus" id="maritalStatus3" value="Divorced"/>Divorced
                                    <input type="radio" name="maritalStatus" id="maritalStatus4" value="Legally Separated"/>Legally Separated 
                                </div>
                                <div class="col-4">
                                    <span id="maritalStatusError"></span>
                                </div>
                            </div>

                            <!--row 6 end-->
                            <!--row 7 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="presentAddress">Present Address</label>
                                </div>
                                <div class="col-6">
                                    <textarea name="presentAddress" id="presentAddress" class="form-control"></textarea>
                                </div>
                                <div class="col-4">
                                    <span id="presentAddressError"></span>
                                </div>
                            </div>

                            <!--row 7 end-->
                            <!--row 8 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="communicationAddress">Communication Address</label>
                                </div>
                                <div class="col-6">
                                    <textarea name="communicationAddress" id="communicationAddress" class="form-control"></textarea>
                                </div>
                                <div class="col-4">
                                    <span id="communicationAddressError"></span>
                                </div>
                            </div>


                            <!--row 8 end-->
                            <!--row 9 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="pastMedHistory">Past Medical History</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" name="pastMedHistory" id="pastMedHistory1" value="Anemia"/> Anemia
                                    <input type="checkbox" name="pastMedHistory" id="pastMedHistory2" value="Asthama"/> Asthama
                                    <input type="checkbox" name="pastMedHistory" id="pastMedHistory3" value="Ulcer"/> Ulcer
                                    <input type="checkbox" name="pastMedHistory" id="pastMedHistory4" value="Diabetes"/> Diabetes
                                    <input type="checkbox" name="pastMedHistory" id="pastMedHistory5" value="Cancer"/> Cancer
                                    <input type="checkbox" name="pastMedHistory" id="pastMedHistory6" value="Chickenpox"/> Chickenpox
                                </div>
                                <div class="col-4">
                                    <span id="pastMedHistoryError"></span>
                                </div>
                            </div>
                            <!--row 9 end-->
                            <!--row 10 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="ifOtherMedHistory">Other Medical History
                                        <input type="checkbox" name="pastMedHistory" id="pastMedHistory7" value="otherMedhsty"/>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="ifOtherMedHistory" id="ifOtherMedHistory" class="form-control"/>
                                </div>
                                <div class="col-4">
                                    <span id="ifOtherMedHistoryError"></span>
                                </div>
                            </div>
                            <!--row 10 end-->
                            
                            <!--row 11 start-->
                            <div class="row">
                                <div class="col-2">
                                    <label for="otherDtls">Other Details</label>
                                </div>
                                <div class="col-6">
                                    <textarea name="otherDtls" id="otherDtls" class="form-control"></textarea>
                                </div>
                                <div class="col-4">
                                    <span id="otherDtlsError"></span>
                                </div>
                            </div>
                            <!--row 11 end-->
                          <button type="submit" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"> Create</i></button>  
                        </form>
                        <!--form end-->
                    </div>
                <!--card body end-->
                
                <!--card footer start-->
                    <div class="card-footer bg-info text-center text-white">
                        <span th:text="${message}"></span>
                    </div>
                <!--card footer end-->

             </div>
            <!-- card end-->
        </div>
        <!-- container end-->
    </body>
</html>