<html xmlns:th="https://www.thymeleaf.org/"> 

<div th:replace="fragment/commonui :: header"></div>

<body>

<div th:replace="fragment/commonui :: menu"></div>
    
    <div class="container">
        <div class="card">
            <div class="card-header text-center text-success">
                <h3><b>PASSWORD UPDATE</b></h3>
            </div>
            <div class="card-body">
                <form th:action="@{/user/pwdUpdate}" method="POST">
                   
                    <div class="row">
                        <div class="col-2">
                            <label for="pwd1">New Password</label>
                        </div>
                        <div class="col-4">
                            <input type="password" name="pwd1" id="pwd1" class="form-control"/>
                        </div>
                        <div class="col-6">
                            <span id="pwd1Error"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label for="pwd2">Confirm Password</label>
                        </div>
                        <div class="col-4">
                            <input type="password" name="pwd2" id="pwd2" class="form-control"/>
                        </div>
                        <div class="col-6">
                            <span id="pwd2Error"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Update <i class="fa fa-wrench" aria-hidden="true"></i></button>

                </form>
            </div>
            <div class="card-footer text-success">
				<span th:text="${pwdUpdateMsg}"></span>
            </div>
        </div>
    </div>
    <script src="/hcjs/passwordupdate_validate.js"></script>
</body>

</html>